<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <style>
            table, td, th {
              border: 1px solid #ddd;
              text-align: left;
            }

            table {
              border-collapse: collapse;
              width: 100%;
            }

            th, td {
              padding: 10px;
            }
            .myForm {
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size: 0.8em;
                padding: 1em;
            }
            .myForm fieldset {
                border: none;
                padding: 0;
            }
            .myForm legend,
            .myForm label {
                padding: 0;
                font-weight: bold;
            }
            .myForm label {
                text-align: left;
                display: block;
            }

            .myForm input[type="text"],
            .myForm #add_books_btn {
                padding: 1em;
                border-radius: 0.5em;
                # background: #eee;
                border: none;
                font-weight: bold;
                margin-left: 8%;
                margin-top: 1.8em;
            }
            .myForm #add_books_btn:hover {
                background: #ccc;
                cursor: pointer;
            }
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .topnav {
                overflow: hidden;
                background-color: #333;
            }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

            .topnav a.active {
                background-color: #4CAF50;
                color: white;
            }
        </style>
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="http://localhost:5000">Home</a></li>
                <li>
                    <a href="#">Export Data <span class="caret"></span></a>
                    <div>
                        <ul>
                            <li>
                                <a href="#">CSV/Excel <span class="Excel-CSV"></span></a>
                                <div>
                                    <ul>
                                        <li><a href="http://localhost:5000/export-excel/1" target="_blank">Author & Title</a></li>
                                        <li><a href="http://localhost:5000/export-excel/2" target="_blank">Only Title</a></li>
                                        <li><a href="http://localhost:5000/export-excel/3" target="_blank">Only Author</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#">XML<span class="XML"></span></a>
                                <div>
                                    <ul>
                                        <li><a href="http://localhost:5000/export-xml/1" target="_blank">Author & Title</a></li>
                                        <li><a href="http://localhost:5000/export-xml/2" target="_blank">Only Title</a></li>
                                        <li><a href="http://localhost:5000/export-xml/3" target="_blank">Only Author</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="http://localhost:5000/groups">Groupwise Books</a></li>
                <li><a href="http://localhost:5000/group-basis">Group Basis</a></li>
            </ul>
        </nav>
        <div style="width: 88%; margin-left: 41px;background: white;">
            <table id="book_data" class="display" style="width:100%">
                <thead style="background: black; color: white;">
                    <tr>
                        <th>Group</th>
                        <th>Some Keywords and their Respective Weights in the Group</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in results %}
                        <tr>
                            <td>{{ obj["group"] }}</td>
                            <td>{{ obj["keywords"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>

</html>
